@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Ledger&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cprimary: #E76202;
    --cdark: #242424;
    --clight: #EEEEEE;
    --fprimary: 'Ledger', serif;
    --flogo: 'Kavoon', serif;
}

a {
    text-decoration: none;
    font-family: var(--fprimary);
}
 .container{
    border: none;
 }